.main_content:has(section.table) {
    overflow: hidden;
}
main:has(section.table) {
    overflow: hidden;
    padding: 20px;
}
section.table {
    height: 100%;
    overflow-y: auto;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px #00000022);
}
table {
    width: 100%;
    border-collapse: collapse;
}
table thead,
tfoot {
    position: sticky;
    box-shadow: 0 0 10px 0 #00000022;
}
table thead {
    top: 0;
}
table tfoot {
    bottom: 0;
}
table input[type="text"] {
    border: 2px solid var(--gray_300);
    border-radius: 4px;
    padding: 4px 20px;
}
table tr {
    background: white;
}
table tr :is(th, td):first-of-type {
    width: 0;
    max-width: fit-content;
    padding-inline: 10px;
}
table :is(td, th) {
    padding: 8px 20px;
    text-align: left;
    font-size: 0.9em;
}
table .strong {
    font-weight: 700;
}
table tfoot .brand img {
    padding: 5px;
    height: 25px;
}
table tfoot .data_info {
    display: flex;
}
table tfoot .data_info .paginate {
    display: flex;
}
table tfoot .data_info input {
    min-width: min-content;
    width: 0;
}
table tfoot .data_info input[type="number"]::-webkit-inner-spin-button,
table tfoot .data_info input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
table tr.disabled td.actions {
    align-items: center;
    display: flex;
    gap: 4px;
}
table tr.disabled td.status {
    cursor: pointer;
}
table tr.disabled td.status .badge-error {
    display: none;
}
table tr:not(.disabled) td.status .badge-success {
    display: none;
}
/* table th:first-of-type {
  border-top-left-radius: 10px;
}
table th:last-of-type {
  border-top-right-radius: 10px;
}
table tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}
table tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
} */
