:root {
    --prime: #0d6efd;
    --prime_dark: #0a58ca;
    --success: #39b400;
    --success_dark: #2d8f00;
    --error: #e70202;
    --error_dark: #c00000;
    --info: #0dcaf0;
    --info_dark: #0aa3c2;
    --warn: #ffc107;
    --warn_dark: #e0a800;
    --prime_rgb: 13, 110, 253;
    --prime_dark_rgb: 10, 88, 202;
    --success_rgb: 57, 180, 0;
    --success_dark_rgb: 45, 143, 0;
    --error_rgb: 231, 2, 2;
    --error_dark_rgb: 192, 0, 0;
    --info_rgb: 13, 202, 240;
    --info_dark_rgb: 10, 163, 194;
    --warn_rgb: 255, 193, 7;
    --warn_dark_rgb: 224, 168, 0;
    --gray_100: #f8f9fa;
    --gray_200: #e9ecef;
    --gray_300: #dee2e6;
    --gray_400: #ced4da;
    --gray_500: #adb5bd;
    --gray_600: #6c757d;
    --gray_700: #495057;
    --gray_800: #343a40;
    --gray_900: #212529;
    --gray_comp_100: #f8f9fa;
    --gray_comp_200: #e9ecef;
    --gray_comp_300: #dee2e6;
    --gray_comp_400: #ced4da;
    --gray_comp_500: #adb5bd;
    --gray_comp_600: #6c757d;
    --gray_comp_700: #495057;
    --gray_comp_800: #343a40;
    --gray_comp_900: #212529;
    --info_comp: #0dcaf0;
    --info_comp_dark: #0aa3c2;
    --warn_comp: #ffc107;
    --warn_comp_dark: #e0a800;
    --prime_text_dark: var(--gray_900);
    --sec_text_dark: var(--gray_600);
    --prime_text_light: var(--gray_100);
    --sec_text_light: var(--gray_500);
    --prime_text: var(--gray_comp_900);
    --sec_text: var(--gray_comp_500);
    --prime_text_rev: var(--gray_comp_100);
    --sec_text_rev: var(--gray_comp_400);
    --prime_bg: #efefef;
    --sec_bg: white;

    --primary: #1f2544;
    --secondary: #474f7a;
}
:root[data-theme="dark"] {
    --gray_comp_900: #f8f9fa;
    --gray_comp_800: #e9ecef;
    --gray_comp_700: #dee2e6;
    --gray_comp_600: #ced4da;
    --gray_comp_500: #adb5bd;
    --gray_comp_400: #6c757d;
    --gray_comp_300: #495057;
    --gray_comp_200: #343a40;
    --gray_comp_100: #212529;
    --info_comp: #ffc107;
    --info_comp_dark: #e0a800;
    --warn_comp: #0dcaf0;
    --warn_comp_dark: #0aa3c2;
    --prime_bg: #495057;
    --sec_bg: black;
}
