.sidebar {
    background: var(--primary);
}
.sidebar .brand {
    margin: 20px auto;
}
.sidebar .brand img {
    height: 60px;
}
.sidebar .main_nav {
    overflow-y: auto;
    color: var(--sec_text_light);
}
.sidebar .main_nav::-webkit-scrollbar {
    display: none;
}
.sidebar ul a {
    display: flex;
    justify-content: space-between;
    transition: all 0.2s;
    padding: 8px 30px;
    color: inherit;
    text-decoration: none;
}
.sidebar_layout .sidebar .brand {
    height: 40px;
    margin: 20px auto;
}
.sidebar_layout .sidebar .brand img {
    height: 100%;
}
.sidebar_layout .sidebar ul {
    list-style-type: none;
    transition: all 0.3s;
}
.sidebar_layout .sidebar ul ul li {
    padding-left: 20px;
}
.sidebar_layout .sidebar ul ul a {
    padding-block: 5px;
    font-size: 0.8em;
}
.sidebar_layout .sidebar ul ul li {
    border-bottom: 1px dashed #ffffff33;
}
.sidebar .group_head {
    overflow: hidden;
    cursor: pointer;
}
.sidebar li > .group_title {
    font-size: 0.85em;
    border-bottom: 1px solid #ffffff44;
}
.sidebar > ul > li:where(:hover, .active) {
    background: #ffffff39;
}
.sidebar ul li:where(.active, :hover) > a {
    color: var(--prime_text_light);
    font-weight: 600;
}
.sidebar .sec_nav {
    margin-top: auto;
}
.sidebar .sec_nav .logout {
    background: var(--error);
    border-radius: 0;
    font-weight: 600;
    transition: all 0.3s;
}
.sidebar .sec_nav .logout a {
    text-align: center;
    font-size: 0.9em;
    justify-content: center;
}
.sidebar .sec_nav .logout:hover {
    color: white;
    background: var(--error_dark);
}
/* Header goes here */
.sidebar_layout .main_content header {
    background: var(--primary);
    height: 60px;
    color: var(--prime_text_light);
    flex-shrink: 0;
    padding: 0 20px;
}
.sidebar_layout .main_content header .brand {
    height: 100%;
    padding:10px 20px;
}